@media only screen and (min-width: 1200px){
    .center-1200{
        width: 1200px;
        margin: 0 auto;
    }

}
.header{
    background-color: #580933;
    padding:30px;
    margin-bottom: 20px;
}
.destaques{
    height:500px;
}
.destaques .principal{
    position: relative;
    color: white;
}
.destaques .principal h3{
    position: absolute;
    bottom: 80px;
    width: 90%;
    padding: 0;
    left: auto;
    margin: 0 5%;
    min-height: 70px;
    font-family: "Lobster Two", serif;
    font-style: italic;
    font-size: 3.6rem;
    font-weight: bold;
    text-shadow: 0 5px 5px rgba(0,0,0,0.3);
    margin-bottom: .4rem;
    color: #ffffff;
}
.destaques .principal p{
    position: absolute;
    bottom: 35px;
    width: 90%;
    padding: 0;
    left: auto;
    margin: 0 5%;
    min-height: 50px;
    font-size: 1.5rem;
}
.destaques .row-container, .destaques .col{
    height:100%;
    padding: 0px;
}
.destaques .row-dupla{
    height:250px;
    margin-bottom: 0px;
}
#corpo{
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 3px;
}